.navbar-container {
  background-color: #32aeb1;
}
.logo {
  height: 50px;
}
.navbar-container a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}
.button {
  background-color: #fff;
  color: #32aeb1;
  font-weight: bold;
  border: none;
}
